#cloud-config
---
write_files:
    - path: /home/core/www/bar/index.html
      content: |
        <h1>Bar $private_ipv4</h1>
    - path: /home/core/www/index.html
      content: |
        <h1>Bar $private_ipv4</h1>
coreos:
  units:
    - name: helloweb.service
      command: start
      content: |
        [Unit]
        Description=Teeny weeny web server
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        Restart=always
        ExecStartPre=-/usr/bin/docker stop helloweb
        ExecStartPre=-/usr/bin/docker rm helloweb
        ExecStart=/usr/bin/docker run --net=host -v /home/core/www:/www --name helloweb fnichol/uhttpd

        [Install]
        WantedBy=multi-user.target