#cloud-config

coreos:
  etcd2:
    discovery: https://discovery.etcd.io/fa2fe78f0464e326fe83918463ef58f4
    advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:4001
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: helloweb.service
      command: start
      content: |
        [Unit]
        Description=Teeny weeny web server
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        Restart=always
        ExecStartPre=-/usr/bin/docker stop helloweb
        ExecStartPre=-/usr/bin/docker rm helloweb
        ExecStartPre=-/usr/bin/docker rm hellodata
        ExecStartPre=-/usr/bin/mkdir -p /home/core/www
        ExecStartPre=/usr/bin/docker run -v /home/core/www --name hellodata busybox true
        ExecStartPre=/usr/bin/ docker run --rm --volumes-from hellodata busybox /bin/sh -c 'echo "<h1>Foo $private_ipv4</h1>" > /www/index.html'
        ExecStart=/usr/bin/docker run -p 80 --volumes-from hellodata --name helloweb fnichol/uhttpd

        [Install]
        WantedBy=multi-user.target