#cloud-config
---
write_files:
  - path: /etc/ansible/hosts
    content: |
      [{{inventory_host}}]
      {{inventory_host}} ansible_ssh_host=$private_ipv4
  - path: /etc/ansible/group_vars/{{inventory_host}}
    content: |
      ---
        ansible_connection: ssh
        ansible_python_interpreter: "PATH=/home/core/bin:$PATH python"
        ansible_ssh_private_key_file: /opt/ansible/keys/id_rsa
        ansible_ssh_user: core
{% if inventory_host == "tornadohost" %}
        redis_ip: ${redis_ip}
{% endif %}
coreos:
  units:
    - name: ansible-keys.service
      command: start
      content: |
        [Unit]
        After=docker.service
        Requires=docker.service
        Description=Generates SSH keys for ansible container
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStartPre=-/usr/bin/rm -rf /opt/ansible/keys
        ExecStartPre=-/usr/bin/mkdir -p /opt/ansible/keys
        ExecStart=/usr/bin/bash -c "ssh-keygen -f /opt/ansible/keys/id_rsa -N ''"
    - name: ansible-gitpull.service
      command: start
      content: |
        [Unit]
        Requires=ansible-keys.service
        After=ansible-keys.service
        Description=Fetches playbook repo
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStartPre=-/usr/bin/rm -rf /opt/ansible/repo
        ExecStart=/usr/bin/git clone -b {{repo_branch}} https://github.com/maratoid/ansible-gce-terraform.git /opt/ansible/repo
    - name: boxible.service
      command: start
      content: |
        [Unit]
        After=docker.service
        Requires=docker.service
        Description=Provisions host using ansible in a container
        [Service]
        Type=simple
        Restart=on-failure
        RestartSec=5
        ExecStartPre=-/usr/bin/docker rm -f boxible
        ExecStart=/usr/bin/docker run --name boxible \
          -v /opt/ansible:/opt/ansible \
          -v /var/run:/ansible \
          -v /etc/ansible/hosts:/etc/ansible/hosts \
          -v /etc/ansible/group_vars/{{inventory_host}}:/etc/ansible/group_vars/{{inventory_host}} \
          quay.io/maratoid/boxible \
          ansible-playbook -vv --ssh-common-args '-o StrictHostKeyChecking=no' /opt/ansible/repo/ansible/boxible.yaml
  update:
    group: beta
    reboot-strategy: off