[Unit]
Description=Launch tornado chat server
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill tornadochat
ExecStartPre=-/usr/bin/docker rm tornadochat
ExecStart=/usr/bin/docker run \
  --name tornadochat \
  --net=host \
  -e "REDISTOGO_URL=redis://{{redis_login}}:{{redis_pw}}@{{redis_ip}}:6379" \
  quay.io/maratoid/tornadochat
